html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: lightpink;
    margin: 0;
    height: 15%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 0;
    index: 9;
}

header > h1 {
    margin: 0;
    font-size: 3.5em;
}

section {
    margin-top: 100px;
    background-color: lightskyblue;
    display: grid;
    width: 100vw;
    height: auto;
    overflow: scroll;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}

article {
    margin: 5%;
    width: 400px;
    height: 300px;
    background-color: grey;
    border: 1px solid black;
}

@media only screen and (max-width: 800px) {
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

   
}