
* {
    box-sizing: border-box;

}

body {
    margin: 0;
    height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
}

header {
    background-color: lightpink;
    margin: 0;
    height: 15%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 0;
    z-index: 9;
}

    h1, h2 {
    margin: 0;
    font-size: 3.5em;
}

section {
    margin-top: 100px;
    background-color: lightskyblue;
    display: grid;
    height: auto;
    overflow-x: hidden;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    justify-content: center;
    gap: 2%;

}

article {
    margin-top: 10%;
    width: 100%;
    height: 300px;
    background-color: grey;
    border: 1px solid black;
    padding: 0;

}

footer {
    background-color: lightpink;
    width: 100vw;
    height: 20vh;
    position: sticky;
    z-index: 8;
}

@media only screen and (max-width: 800px) {
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    article {
        margin: 10%;
    }

}